header
  h1.title Oooh the title

article
  h2 Ah, welcome.
  img(src='http://25.media.tumblr.com/439f1f719d0c6d59fd60814b3128b5a7/tumblr_mhyhl0IM4h1qhzpmao1_500.jpg')
  p This is just a demo page. Do something about it!

form
  p.form-group
    label Input
    input.write-something(type='text')

  button.button(type='submit') Action!